<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Ingreso de Productos</title>
</head>
<body>    
    <h1> <a href="/">Bienvenidos a Limpteam</a></h1>
    <h3>Buscar Cliente</h3>
    <div id="buscarCliente">
        <input type="text">
        <button type="button" class="buscar-clientes" ><a href="">Buscar Cliente</button>
    </div>


    <h2>Ingreso de Clientes</h2>
	<form method="POST" action="">
		<label for="nombre">Nombre:</label>
		<input type="text" name="nombre" required><br><br>
		<label for="precio">Apellido:</label>
		<input type="number" name="precio" required><br><br>
		<label for="imagen">Razon Social:</label>
		<input type="text" name="imagen" required><br><br>
        <label for="imagen">Domicilio:</label>
		<input type="text" name="domicilio" required><br><br>
		<label for="descripcion">Descripción:</label>
		<textarea name="descripcion" required></textarea><br><br>
		<input type="submit" value="Guardar">
	</form>
</body>
</html>
