<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../public/styles.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <h1><a href="/">Bienvenidos a Limpteam</a></h1>
        <button type="button" class="clientes" ><a href="/clientes">Clientes</button>
        <button type="button" class="productos"><a href="/productos">Productos</button>
        <button type="button" class="proveedores"><a href="/proveedores">Proveedores</button>

</body>
</html>