<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Ingreso de Proveedores</title>
    <link rel="stylesheet" type="text/css" href="../public/styles.css">
</head>
<body>
    <div>
        <table>
            <thead>

            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</body>
</html>